<!DOCTYPE html>
<html>
<head>
  <title>Tasks</title>
</head>
<body>
  <div>
  <h1>My tasks</h1>
    <% @tasks.each do |task| %>
      <div class="card">
        <h2><%= link_to task.title, task_path(task) %></h2>
        <p><%= task.completed %></p>
        <%= link_to task_path(task), method: :delete do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    <% end %>
    <%= link_to "Add a new task", new_task_path %>
  </div>
</body>
</html>
